h3 {
    text-transform: uppercase;
    color: #3498db;
    font-family: source sans pro;
    letter-spacing: 5px;
}

h1 {
    font-family: source sans pro;
    text-transform: capitalize;
    font-weight: bolder;
}

p {
    font-family: source sans pro;
    font-size: 20px;
    font-weight: bold;
}

body {
    width: 700px;
    border: 20px solid #bdc3c7;
    padding: 20px;
    margin: 20px auto;
}

p:nth-of-type(1) {
    border-left: 5px solid #bdc3c7;
    padding-left: 10px;
}

hr {
    color: gray;
}